@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
    font-family: "Poppins", sans-serif;
    background-color: #f2f2f2;
    padding: 0;
}

body {
    margin: 0;
}

header {
    height: 200px;
    background-color: red;
    width: 100%;
    margin-bottom: 25px;
    padding: 0;
    border: 0;
}

h1 {
    text-align: center;
    padding: 20px;
    margin: 0;
}

h2 {
    color: red;
    text-align: center;
    margin: 10px;
    padding: 0;
}

h3 {
    text-align: center;
    margin: 10px;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

a:visited {
    text-decoration: none;
}

a h2,
a p {
    color: black;
    text-decoration: underline;
}

a h2:hover,
a p:hover,
a h2:visited,
a p:visited {
    font-weight: bold;
    color: black;
}

ul {
    color: red;
}

.img-responsive {
    width: 100%;
    height: auto;
    border-radius: 25px;
}

.author,
.text {
    display: block;
    width: calc(100% - 20%);
    margin: 0 10%;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 25px;
    padding: 25px;
    height: fit-content;
}

.author h2,
.author h3,
.text h2,
.text h3,
.text h4 {
    margin-left: 30px;
    margin-bottom: 15px;
    padding-top: 0;
}

.text p {
    margin-left: 30px;
    margin-right: 30px;
}

.author ul,
.text ul {
    margin-left: 5%;
}

#home {
    border-radius: 0;
    padding: 16px;
    margin: 0;
    float: none;
    display: block;
    width: 32px;
    height: auto;
}

footer {
    padding: 25px;
    background-color: #a6a6a6;
}

footer img {
    display: block;
    float: none;
    width: 300px;
    height: auto;
}

/* Stili per dispositivi con puntatore fine (tipicamente mouse) */
@media (hover: hover) and (pointer: fine) {
    .button:hover {
        background-color: white;
        color: #ff4d4d;
        border: 2px solid #ff4d4d;
    }

    .button:hover a {
        color: #ff4d4d;
        transition: all 0.3s ease;
    }
}

@media (min-width: 800px) {
    img {
        float: left;
        width: 250px;
        margin: 0 25px 25px 25px;
        border-radius: 25px;
    }

    .author,
    .text {
        width: calc(100% - 20%);
        margin: 0 10%;
        padding: 50px 25px;
        text-align: left;
    }

    .author ul,
    .text ul {
        margin-left: 300px;
        text-align: left;
    }

    footer img {
        width: 400px;
    }
}
