@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  font-family: "Poppins", sans-serif;
  background-color: #f2f2f2;
}

body {
  margin: 0;
}

.owl-prev {
  text-align: center;
  border-radius: 50% !important;
  background-color: #a6a6a6 !important;
  width: 50px !important;
  height: 50px !important;
  color: white !important;
  font-size: 20px !important;
  position: absolute !important;
  top: 275px !important;
  left: 0 !important;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.owl-next {
  text-align: center;
  background-color: #a6a6a6 !important;
  width: 50px !important;
  height: 50px !important;
  color: white !important;
  font-size: 20px !important;
  position: absolute !important;
  top: 275px !important;
  right: 0 !important;
  border-radius: 50% !important;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

h1 {
  text-align: center;
}

.physicist {
  margin-left: 60px;
  margin-right: 60px;
  border-radius: 20px;
  width: 400px;
  height: 620px;
  background-color: white;
  margin-bottom: 10px;
  h4 {
    font-size: 25px;
    text-align: center;
    margin: 0;
  }

  img {
    transform: scale(0.9, 0.9);
    border-radius: 30px;
  }

  p {
    margin-left: 35px;
    margin-right: 35px;
    font-size: 14px;
    text-align: center;
  }
}

.work {
  margin-top: 100px;
  margin-left: 60px;
  margin-right: 60px;
  border-radius: 20px;
  width: 400px;
  height: 400px;
  background-color: white;
  margin-bottom: 10px;

  h5 {
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
    margin: 0;
  }

  h4 {
    font-size: 25px;
    text-align: center;
    margin: 0;
  }

  p {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }

  img {
    display: block-inline;
    height: 200px;
    object-fit: contain;
    margin-bottom: 15px;
  }

  h4 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
  }
}

.container {
  display: grid;
  place-items: center;
  height: 40px;
}

.container a {
  display: block;
  margin-left: 5px;
  text-decoration: none;
}

.container a:visited {
  color: white;
  text-decoration: none;
}

.button {
  font-size: 16px;
  background-color: #ff4d4d;
  color: white;
  border: 2px solid #ff4d4d;
  border-radius: 40px;
  height: 40px;
  width: 160px;
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: white;
  color: #ff4d4d;
  border: 2px solid #ff4d4d;
}

.button:hover a {
  color: #ff4d4d;
  transition: all 0.3s ease;
}



footer {
  padding: 25px;
  background-color: #a6a6a6;
  img{
    width: 400px;
    height: auto;
  };
}

@media (min-width: 0){
  html {
    font-family: "Poppins", sans-serif;
    background-color: #f2f2f2;
  }
  
  body {
    margin: 0;
  }
  
  h1 {
    text-align: center;
  }
  
  .physicist {
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 20px;
    width: 350px;
    height: 620px;
    background-color: white;
    margin-bottom: 10px;
    h4 {
      font-size: 25px;
      text-align: center;
      margin: 0;
    }
  
    img {
      transform: scale(0.7, 0.7);
      border-radius: 30px;
    }
  
    p {
      margin-left: 35px;
      margin-right: 35px;
      font-size: 14px;
      text-align: center;
    }
  }
  
  .work {
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 20px;
    width: 350px;
    height: 350px;
    background-color: white;
    margin-bottom: 10px;
  
    h5 {
      padding-top: 10px;
      font-size: 20px;
      text-align: center;
      margin: 0;
    }
  
    h4 {
      font-size: 25px;
      text-align: center;
      margin: 0;
    }
  
    p {
      margin: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
    }
  
    img {
      display: block-inline;
      height: 150px;
      object-fit: contain;
      margin-bottom: 15px;
    }
  
    h4 {
      font-size: 25px;
      text-align: center;
      margin-bottom: 10px;
    }
  }
  
  .container {
    display: grid;
    place-items: center;
    height: 40px;
  }
  
  .container a {
    display: block;
    margin-left: 5px;
    text-decoration: none;
  }
  
  .container a:visited {
    color: white;
    text-decoration: none;
  }
  
  .button {
    font-size: 16px;
    background-color: #ff4d4d;
    color: white;
    border: 2px solid #ff4d4d;
    border-radius: 40px;
    height: 40px;
    width: 160px;
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
  }
  
  .button:hover {
    background-color: white;
    color: #ff4d4d;
    border: 2px solid #ff4d4d;
  }
  
  .button:hover a {
    color: #ff4d4d;
    transition: all 0.3s ease;
  }
  
  footer {
    padding: 25px;
    background-color: #a6a6a6;
    img{
      width: 350px;
      height: auto;
    };
  }
}