@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  font-family: "Poppins", sans-serif;
  background-color: #f2f2f2;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.owl-prev, .owl-next {
  text-align: center;
  border-radius: 50% !important;
  background-color: #a6a6a6 !important;
  width: 25px !important;
  height: 25px !important;
  color: white !important;
  font-size: 15px !important;
  position: absolute !important;
  top: 275px !important;
  opacity: 0.5;
  user-select: none;  /* Prevents text selection on double click */
}

.owl-prev:hover, .owl-next:hover {
  opacity: 1;
}

.owl-prev {
  left: 0 !important;
}

.owl-next {
  right: 0 !important;
}

.physicist {
  margin: 15px;
  margin-bottom: 25px;
  border-radius: 20px;
  width: 350px;
  height: 620px;
  background-color: white;
}

.physicist h4 {
  font-size: 25px;
  text-align: center;
  margin: 0;
}

.physicist img {
  transform: scale(0.7);
  border-radius: 30px;
}

.physicist p {
  margin: 0 25px 25px 25px;
  font-size: 14px;
  text-align: center;
}

.work {
  margin: 100px 25px 10px 25px;
  border-radius: 20px;
  width: 350px;
  height: 350px;
  background-color: white;
}

.work h4 {
  font-size: 25px;
  text-align: center;
  margin: 0 0 10px 0;
}

.work h5 {
  font-size: 20px;
  text-align: center;
  margin: 0;
  padding-top: 10px;
}

.work p {
  margin: 0;
  padding: 10px 0;
  text-align: center;
}

.work img {
  display: inline-block;
  height: 150px;
  object-fit: contain;
  margin-bottom: 15px;
}

.container {
  display: grid;
  place-items: center;
  height: 40px;
}

.container a {
  display: block;
  text-decoration: none;
  color: white;
}

.container a:visited {
  color: white;
}

.button {
  font-size: 16px;
  background-color: #ff4d4d;
  color: white;
  border: 2px solid #ff4d4d;
  border-radius: 40px;
  height: 40px;
  width: 160px;
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  touch-action: manipulation;  /* Prevents default double-tap zoom behavior */
}

.button:hover, .button:clicked {
  background-color: white;
  color: #ff4d4d;
}

.button:hover a, .button:clicked a {
  color: #ff4d4d;
}

.button:visited {
  color:white;
}

footer {
  padding: 25px;
  background-color: #a6a6a6;
}

footer img {
  width: 350px;
  height: auto;
}

@media (min-width: 800px) {
  .physicist {
    margin: 0 60px;
    margin-bottom: 25px;
    width: 400px;
    height: 620px;
  }

  .physicist img {
    transform: scale(0.9);
  }

  .work {
    margin: 100px, 60px;
    width: 400px;
    height: 400px;
  }

  .work img {
    height: 200px;
  }

  footer img {
    width: 400px;
  }
}
